<head>
  <title>Diabet | Диабет</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Профессиональные консультации больных сахарным диабетом">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="google-site-verification" content="Cwk9l3eeMz5bcJELppkn_u3AWnEkH55UEMyKESKGtm8" />
  <link rel="stylesheet" href="css/main.css">
  <link href="//fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.4/css/fluidbox.min.css" rel="stylesheet">
</head>