---
layout: default
---

<section class='max-width-4 mx-auto my4'>
  <div class="px2">

    <div class="md-whiteframe-2dp bg-white">
      {% if page.image %}
      <div class="bg-center bg-cover bg-silver sixteen-nine" style="width: 100%; height: 400px; background-image: url({{ page.image }})"></div>
      {% endif %}
      <div class="px4 py3">
        <h1 class="px4 center muted mt3">{{ page.title }}</h1>
        <p class="mt0"><small>{{ page.date | date: '%B %d, %Y' }}</small></p>
        <div>
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>
